*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
body {
    font-family: 'Poppins', sans-serif;

}
.headerp{
    font-size:100px;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
}
.header{
    background-image: url(./images/background.jpg);
    min-height: 400px;
   
    color:  white;
    

}
.weathericon{
    image-rendering: pixelated;
}


h2.bigtemp {
    font-size: 50px;
}

h2.evenbigger{
    font-size: 65px;
}
.weatherbox{
    background: #eaeaead0;
    padding: 2em;
    border-radius: 30px;
    margin: 1em;
}
form {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

input#weatherInput {
    padding: 6px;
    text-align: left;
    font-size: 20px;
}

input#weatherSubmit {
    border-radius: 4px;
    font-size: 30px;
    background: #1E90FF;
    padding: 10px 24px;
    color: white;
    transition-duration: 0.4s;
}

input#weatherSubmit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.4s;
}
div#weatherResults {text-align: center;padding: 2em;border-radius: 30px;margin: 1em;}


.card {background: #eaeaead0;padding: 2em;border-radius: 30px;margin: 1em;}

.box{background: #eaeaead0;padding: 2em;border-radius: 30px;margin: 1em;};

